


<h2>Adi</h2>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @{
            ViewBag.Title = "Adi";
        }
    </title>
  
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="C:\Users\lenovo\source\repos\rorisangStudyGroup\rorisangStudyGroup\Content\StudyGroup.css" rel="stylesheet" />
</head>
<body>

    <div class="container text-center my-4">
        <h1>Adi Makwarela</h1>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Study Group</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="~/">Main</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/People/Index">List</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#">Adi</a></li>
                        <li class="nav-item"><a class="nav-link" href="Alex.html">Asanda</a></li>
                        <li class="nav-item"><a class="nav-link" href="Bokang.html">Tumisang</a></li>
                        <li class="nav-item"><a class="nav-link" href="Rorisang.html">Gontla</a></li>
                        <li class="nav-item"><a class="nav-link" href="Ritshi.html">Rorisang</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:history.back()">Back</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
          
            <div class="col-md-4">
                <h2>Biography & Background</h2>
                <img src="~/Content/student_images/Adi.jpeg" alt="Adi" class="img-fluid rounded mb-3">
                <p>Adi is a 21-year-old student from Centurion. She studies BCom Informatics. She chose this career because she has a passion for business and coding, and loves people and learning.</p>
            </div>
            <div class="col-md-4">
                <h2>Hobbies</h2>
                <p> Adi enjoys attending sports games as well as watching it on TV.</p>
                <img src="~/Content/hobby_images/adi_hobby.jpeg" alt="Hobby" class="img-fluid rounded">  
            </div>

            <div class="col-md-4">
                <h2>Modules</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Semester 1</th>
                            <th>Semester 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>INF214</td><td>INL260</td></tr>
                        <tr><td>FIL251</td><td>INF225</td></tr>
                        <tr><td>INF271</td><td>INF272</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS & jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>