
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @{
            ViewBag.Title = "Gontla";
        }
    </title>
    <title>
        Gontla
    </title>
  
    <link href="C:\Users\lenovo\source\repos\rorisangStudyGroup\rorisangStudyGroup\Content\StudyGroup.css" rel="stylesheet" />
</head>
<body>

    <h1>Bokang</h1>
    <header>
    <nav>
        <ul>
            <li><a href="~/">Main</a></li>
            <li><a href="~/People/Index">List</a></li>
            <li><a href="Adi.html">Adi</a></li>
            <li><a href="Alex.html">Asanda</a></li>
            <li><a href="Bokang.html">Tumisang</a></li>
            <li><a href="Rorisang.html">Gontla</a></li>
            <li><a href="Ritshi.html">Rorisang</a></li>
            <li><a href="javascript:history.back()">BACK</a></li>
        </ul>
    </nav>
    </header>
    <section id="background">
        <h2>Biography and Background</h2>
        <img src="C:\Users\lenovo\source\repos\rorisangStudyGroup\rorisangStudyGroup\Content\student_images\gontla.jpeg" alt="Bokang" class="left-image">
        <p>Gontla is a 21 year old student from Rustenburg, she studies Human Physiology. She chose this career because she has a passion for physical wellness.</p>
    </section>
    <section id="hobbies">
        <h2>Hobbies</h2>
        <p>
            Bokang enjoys playing soccer with his friends. He enjoys coding as well as reading in his spare time.
        </p>
        <img src="C:\Users\lenovo\source\repos\rorisangStudyGroup\rorisangStudyGroup\Views\HTML\Images\tony-stark-iron-man.webp" alt="Hobby 01" class="right-image">
    </section>

    <section id="modules">
        <h2>Modules</h2>
        <table>
            <tr>
                <th>Semester 1</th>
                <th>Semester 2</th>
            </tr>
            <tr>
                <td>INF214</td>
                <td>INL260</td>
            </tr>
            <tr>
                <td>FIL251</td>
                <td>INF225</td>
            </tr>
            <tr>
                <td>INF271</td>
                <td>INF271</td>
            </tr>
        </table>
    </section>
</body>
</html>
