

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @{
            ViewBag.Title = "Adi";
        }
    </title>
    <title>
        Adi
    </title>
 
    <link href="C:\Users\lenovo\source\repos\rorisangStudyGroup\rorisangStudyGroup\Content\StudyGroup.css" rel="stylesheet" />
</head>
<body>
    <h2>Adi</h2>
    <header>
        <nav>
            <ul>
                <li><a href="~/">MAIN</a></li>
                <li><a href="~/People/Index">List</a></li>
                <li><a href="Adi.html">Adi</a></li>
                <li><a href="Alex.html">Alex</a></li>
                <li><a href="Bokang.html">Bokang</a></li>
                <li><a href="Rorisang.html">Rorisang</a></li>
                <li><a href="Ritshi.html">Ritshi</a></li>
                <li><a href="javascript:history.back()">BACK</a></li>
            </ul>
        </nav>
    </header>
    <section id="background">
        <h2>Biography and Background</h2>
        <img src="C:\Users\lenovo\source\repos\rorisangStudyGroup\rorisangStudyGroup\Views\HTML\Images\Anthony-Mackie-Captain-America-4.webp" alt="Adi" class="left-image">
        <p>Adi is a 21 year old female, born in Venda and raised in Gauteng. She studies at the University of Pretoria. </p>
    </section>
    <section id="hobbies">
        <h2>Hobbies</h2>
        <p>
            Adi loves to watch soccer in her spare time. She enjoys attneding sports games for ANy sport as this birng sher joy.
        </p>
        <img src="C:\Users\lenovo\source\repos\rorisangStudyGroup\rorisangStudyGroup\Views\HTML\Images\peter-parker-Cropped.webp" alt="Hobby 01" class="right-image">
    </section>

    <section id="modules">
        <h2>Modules</h2>
        <table>
            <tr>
                <th>Semester 1</th>
                <th>Semester 2</th>
            </tr>
            <tr>
                <td>INF214</td>
                <td>INL260</td>
            </tr>
            <tr>
                <td>FIL251</td>
                <td>INF225</td>
            </tr>
            <tr>
                <td>INF271</td>
                <td>INF271</td>
            </tr>
        </table>
    </section>
</body>
</html>


